<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Appenders>
        <Console name="console1" target="SYSTEM_OUT">
            <PatternLayout pattern="console1 %style{%d{ISO8601}} %highlight{%-5level}[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
            <ThresholdFilter level="info" />
        </Console>
        <Console name="console2" target="SYSTEM_OUT">
            <PatternLayout pattern="console2 %style{%d{ISO8601}} %highlight{%-5level}[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>
        <Console name="console3" target="SYSTEM_OUT">
            <PatternLayout pattern="console3 %style{%d{ISO8601}} %highlight{%-5level}[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.example.application" level="debug" additivity="false">
            <AppenderRef ref="console3"/>
        </Logger>

        <Logger name="org.example" level="debug">
            <AppenderRef ref="console2" />
        </Logger>

        <!-- 起点のログレベルが使われてしまうので、org.exampleから伝搬されるとloglevelはdebugになる -->
        <!-- これを確実にerrorだけ出すためには、appender側でFilterする必要がある -->
        <Root level="error">
            <AppenderRef ref="console1"/>
        </Root>
    </Loggers>
</configuration>